* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*I set the font family to first try to use Roboto, and if that doesn't work, try Trebuchet MS, and 
  then if it doesn't work, try Lucida Sans Unicode. If that doesn't work, then the website will use the default 
  sans-serif font. */
  font-family:
    Roboto,
    Trebuchet MS,
    Lucida Sans Unicode,
    sans-serif;
  /*I set the background to ghostwhite because I wanted the website to be a light mode website. I used ghostwhite 
  because pure white can lead to visual fatigue. */
  background: ghostwhite;
  margin: 0;
  padding: 0;
  /*I set the width and height properties to 100% so that the content would stretch to cover the whole page. */
  width: 100%;
  height: 100%;
}

header {
  /*Makes the header a flex container so that it can wrap and resize at different screen widths. */
  display: flex;
  /*I spaced all the content out with justify-content and used align-items to center them vertically. */
  justify-content: space-between;
  align-items: center;
  /*Added 15 pixels of padding around the header content to add some null space. */
  padding: 15px;
  /*Set the background color to a dark reddish color. The original Pizza Hotline color is #ef4739, 
  but it wouldn't have a good contrast ratio with my text if it was used, so I made it darker. */
  background-color: #a41919;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#logo {
  /*Sets the width to 25% and makes it so that the Pizza Hotline Logo cannot get smaller thn 300px. */
  width: 25%;
  min-width: 300px;
}

nav {
  top: 0;
  left: 0;
  background-color: #a41919;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  width: 15%;
  float: left;
  flex: 1 0 150px;
}

nav ul li a {
  display: inline-block;
  width: 100%;
  padding: 0.75rem 1rem;
  border-right: 3px solid ghostwhite;
  color: ghostwhite;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  font-size: 1.1rem;
  transition: ease-out 0.2s;
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: #821010;
}

.text-box {
  width: 60%;
  background-color: ghostwhite;
  color: #a41919;
  box-shadow: 0px 0px 30px 5px #818181;
  border-radius: 10px;
  margin: 40px auto;
  padding: 1rem;
  text-align: center;
}

.text-box p {
  color: #212121;
}

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background-color: #a41919;
  color: ghostwhite;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  transition: ease-out 0.1s;
  animation: shrink-grow 3s ease-in-out infinite;
}

.button:hover,
.button:focus {
  background-color: #821010;
}

.text-input {
  display: inline-block;
  margin: 10px auto;
  padding: 0.5rem 2rem;
  background-color: ghostwhite;
  color: #121212;
  text-decoration: none;
  border: 1px solid #121212;
  border-radius: 30px;
  font-weight: normal;
  transition: ease-out 0.2s;
}

footer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #a41919;
  color: ghostwhite;
  text-align: center;
}

footer p {
  margin: 10px;
}

#social-icons-bar {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 0 auto 15px auto;
  padding-bottom: 5px;
  border-bottom: 2px solid ghostwhite;
}

#social-icons-bar a {
  text-decoration: none;
}

.social-icons {
  width: 40px;
  height: auto;
}

@media (max-width: 1112px) {
  nav ul li a {
    border-left: 3px solid ghostwhite;
    border-right: none;
  }
}

@media (max-width: 500px) {
  #logo {
    width: 15%;
    min-width: 150px;
  }
}

@keyframes shrink-grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
